In [1]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.preprocessing import LabelEncoder
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split

In [6]:
df = pd.read_csv('new_dataframe.csv')
# print(df.head())
label_encoder = LabelEncoder()
df['technical_interests'] = label_encoder.fit_transform(df['technical_interests'])
df['interests'] = label_encoder.fit_transform(df['interests'])
df['non_technical_interests'] = label_encoder.fit_transform(df['non_technical_interests'])
df['achievements'] = label_encoder.fit_transform(df['achievements'])

In [7]:
df = df.dropna()

In [8]:
X = df.drop('career', axis=1)
y = df['career']

In [9]:
X

         technical_interests  interests  non_technical_interests  achievements
0                         11         30                       25             0
1                         11         30                       25            35
2                         11         30                       25             1
3                         11         30                       25            18
4                         11         30                       25             8
...                      ...        ...                      ...           ...
2559995                   12         11                        6            12
2559996                   12         11                        6            24
2559997                   12         11                        6            14
2559998                   12         11                        6             7
2559999                   12         11                        6            33

[2560000 rows x 4 columns]

In [5]:
y

0          28
1          32
2          30
3          12
4          15
           ..
2559995    17
2559996    33
2559997    17
2559998     2
2559999    24
Name: career, Length: 2560000, dtype: int64

In [6]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [7]:
rf_model = RandomForestClassifier(n_estimators=100, random_state=42)

# Train the model
rf_model.fit(X_train, y_train)

:

In [13]:
import pandas as pd
import random

data = {
    "technical_interests": [
        'coding', 'problem solving', 'logical thinking', 'statistics', 'ux/ui',
        'data analysis', 'machine learning', 'artificial intelligence', 'robotics', 'cybersecurity',
        'networking', 'cloud computing', 'web development', 'mobile app development', 'game development',
        'database management', 'software testing', 'algorithm design', 'mathematics', 'physics',
        'chemistry', 'biology', 'electronics', 'mechanics', 'digital logic design', 'computer architecture',
        'operating systems', 'data visualization', 'natural language processing', 'computer vision',
        'big data', 'blockchain', 'IoT', 'AR/VR', '3D printing', 'quantum computing', 'bioinformatics',
        'computational biology', 'geographic information systems', 'computational biology'
    ],
    'interests': [
        'science', 'anatomy', 'psychology', 'media and communications', 'video editing',
        'history', 'literature', 'writing', 'sociology', 'politics',
        'music', 'art', 'photography', 'fashion', 'design',
        'technology', 'gaming', 'sports', 'cooking', 'traveling',
        'nature', 'animals', 'space', 'philosophy', 'culture',
        'languages', 'education', 'health', 'fitness', 'finance',
        'business', 'entrepreneurship', 'leadership', 'innovation', 'creativity',
        'social media', 'volunteering', 'community service', 'human rights', 'environmental sustainability'
    ],
    'non_technical_interests': [
        'mathematics', 'physics', 'chemistry', 'management', 'entrepreneurship',
        'economics', 'law', 'medicine', 'geography', 'architecture',
        'history', 'literature', 'writing', 'sociology', 'politics',
        'music', 'art', 'photography', 'fashion', 'design',
        'technology', 'gaming', 'sports', 'cooking', 'traveling',
        'nature', 'animals', 'space', 'philosophy', 'culture',
        'languages', 'education', 'health', 'fitness', 'finance',
        'business', 'entrepreneurship', 'leadership', 'innovation', 'creativity'
    ],
    'achievements': [
        'academic excellence', 'sports achievements', 'artistic accomplishments', 'leadership roles',
        'community service awards',
        'public speaking awards', 'scientific research awards', 'literary awards', 'musical achievements',
        'entrepreneurial ventures',
        'volunteer work', 'internship experiences', 'travel experiences', 'cultural exchange programs',
        'hackathon wins',
        'coding competition wins', 'robotics competition wins', 'mathematics competition wins',
        'science fair awards',
        'debate competition wins',
        'writing competition wins', 'publications', 'exhibitions', 'performances', 'patents',
        'certifications', 'scholarships', 'grants', 'awards', 'recognition',
        'special projects', 'startups', 'business ventures', 'charity work', 'social initiatives',
        'environmental initiatives', 'philanthropic work', 'fundraising efforts', 'community building',
        'social media influence'
    ],
    'career': [1, 9, 3, 13, 38, 12, 19, 37, 32, 30, 21, 28, 18, 5, 29, 14, 2, 20, 36, 25, 11, 16, 39, 31, 10,
               34, 23, 7, 17, 24, 40, 22, 26, 33, 4, 15, 27, 6, 35, 8]
}

def generate_random_data(data, num_rows):
    random_data = {
        "technical_interests": [random.choice(data["technical_interests"]) for _ in range(num_rows)],
        "interests": [random.choice(data["interests"]) for _ in range(num_rows)],
        "non_technical_interests": [random.choice(data["non_technical_interests"]) for _ in range(num_rows)],
        "achievements": [random.choice(data["achievements"]) for _ in range(num_rows)],
        "career": [random.randint(1, 40) for _ in range(num_rows)]
    }
    return pd.DataFrame(random_data)

num_rows = 25000  # Number of rows in the dataset
random_df = generate_random_data(data, num_rows)
print(random_df)

          technical_interests          interests non_technical_interests  \
0                  blockchain  community service              creativity
1      mobile app development        photography              innovation
2                  statistics             sports               traveling
3             cloud computing          sociology               sociology
4                 electronics           business                  sports
...                       ...                ...                     ...
24995       operating systems            finance              philosophy
24996      data visualization         innovation               education
24997      data visualization            fitness               sociology
24998              blockchain              space                 cooking
24999              statistics           business                  design

                    achievements  career
0                 volunteer work      11
1               special projects      27
2                         awards      24
3        coding competition wins      24
4       writing competition wins      29
...                          ...     ...
24995        sports achievements      25
24996  environmental initiatives      11
24997                exhibitions      15
24998                exhibitions      18
24999  robotics competition wins      21

[25000 rows x 5 columns]

In [14]:
random_df.to_csv('new_dataframe.csv', index=False)